<%= link_to 'All ' + @language.name.capitalize + ' Lessons', @language, class: 'btn btn-sm btn-primary' %>

<h1><%= @language.name.capitalize %> Lesson: <%= @lesson.name %></h1>

<p>Translate the following:</p>

<% @exercises.each do |e| %>
  <form class="exercise-form" id="exercise<%= e.id %>">
    <div class="original">
      <%= e.original %>
    </div>
    
    <div class="form-group translation">
      <input name="translation" type="text" class="form-control" />
    </div>
    <input name="id" type="hidden" value="<%= e.id %>" />
      
    <div class="bottom">
      <div>
        <span class="result"></span>
      </div>
      <button class="btn btn-primary" type="submit">Check</button>
    </div>
  </form>
  <hr>
<% end %>


<script>
$('form.exercise-form').submit(function(e) {
  e.preventDefault();
  var formData = $(this).serializeArray();
  var translation = formData[0].value;
  var id = formData[1].value;
  $.ajax({url: "/exercises/grade/" + id, method: 'GET', data: {translation: translation}}).done(function(result) {
    var field = $("#exercise" + id + " input[type=text]").first().parent();
    field.removeClass("has-success");
    field.removeClass("has-error");
    var mySpan = $("#exercise" + id + " .result").first();
    console.log(mySpan);

    if (result.correct) {
      field.addClass("has-success");
      mySpan.html("You are correct!");
    } else {
      field.addClass("has-error");
      mySpan.html("Try again.");
    }
  });
});
</script>