<%= link_to 'All ' + @language.name.capitalize + ' Lessons', @language, class: 'btn btn-sm btn-primary' %>

<h1><%= @language.name.capitalize %> Lesson: <%= @lesson.name %></h1>


<div id="widget-learn">
 <form>
  <div class="instructions">Translate the following:</div>
  <div class="prompt">
    <span>Original</span>
  </div>
  <div class="user-input">
    <input type="text">
  </div>
  <div class="bottom">
    <div id="exercise-feedback"></div>
    <button class="btn btn-primary" type="submit">Check</button>
  </div>
  </form>
  <div class="complete">
    <h2>Lesson Complete</h2>
    <p>You earned <span class="results_points"></span> points from this lesson.</p>
    <% if current_user %>
      <p>Excellent job, <%= current_user.name.capitalize %>.</p>
    <% else %>
      <p>Excellent job. <%= link_to 'Login', login_path %> to save your progress!</p>
    <% end %>
    <p><%= link_to 'Back', @language, class: 'btn btn-primary' %></p>
  </div>
</div>

<script>
var PTS_PER_QUESTION = 100;
var points = 0;
var exercises = <%= @exercises.to_json.html_safe %>;
var currentExercise = 0;
// Is the widget 'waiting' for user to submit?
var waiting = true;
fillWidget(exercises[currentExercise]);

function fillWidget() {
  exercise = exercises[currentExercise];
  widget = $('#widget-learn');
  widget.find('.prompt').html(exercise.original);
  waiting = true;
}
function grade() {
  userInput = $('#widget-learn .user-input').children().first().val();
  if (userInput.toLowerCase() == exercises[currentExercise].translation.toLowerCase()) {
    waiting = false;
    points += PTS_PER_QUESTION;
    // Display success
    $('#exercise-feedback').html("Success");
  } else {
    waiting = true;
    // Display failure
    $('#exercise-feedback').html("Try again");
  }
}
function nextExercise() {
  currentExercise++;
  // Check if we have any exercises left
  if (currentExercise < exercises.length) {
      $('#exercise-feedback').html('');
    $('#widget-learn .user-input').children().first().val('');
    fillWidget();
  } else {
    // Attempt to submit points
    trySubmitPoints(points);
  }
}
$('#widget-learn form').submit(function(e) {
  e.preventDefault();
  if ($('#widget-learn .user-input').children().first().val().length < 1) {
    return;
  }
  
  if (waiting) {
    grade();
  } else {
    nextExercise();
  }
});
  
function displayResults() {
  $('#widget-learn form').hide();
  $('#widget-learn .complete').show();
  $('#widget-learn .results_points').html(points);
}
  
function trySubmitPoints(numPoints) {
  $.ajax({url: "/credits/", method: 'POST', data: {lesson_id: <%= @lesson.id %>, points: numPoints}}).done(function(result) {
    displayResults();
  }).fail(function() {
    displayResults();
  });
}
</script>